/*schermo & Scontrino*/
#display {
    /*width: 680px;*/
    height: 100px;
    background-color: black;
    color: lawngreen;
    font-family: Arial;
    font-size: 45px;
    margin-bottom: 12px;
    resize: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;

}

#scontrino {
    width: 500px;
    height: 450px;
    marfin-right:-50px;
    margin-left: 25px;
    margin-bottom: 25px;
    border: 1px solid #929596;;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;

    text-align: center;
}
#headeS {
    text-align: center;
    height: 150px;
}

#headeS > h3 {
    font-size: 50px;
}

#headeS > h5 {
    font-size: 30px;
}

#corpoS {
    font-size: 25px;
    height: 300px;
    overflow-y: auto;
}
#footerS {
    font-size: 25px;
    text-align: right;
    padding-right: 15px;
}

/*bottoni*/
.numeri {
    margin-bottom: 5px;
    font-weight: bold;
    height: 60px;
}

.bM { /*bottoni modifiche*/

    height: 60px;
    margin-bottom: 5px;
    background-color: #494d4f;
    color: white;
    font-weight: bold;

}

.bT {

    height: 125px;
    margin-bottom: 5px;
    background-color: #de5300;
    color: white;
    font-weight: bold;
}

.Btt {

    height: 60px;
    margin-bottom: 5px;
    background-color: #494d4f;
    color: white;
}


