.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

#panelProdotti {
    height: 650px;
    overflow-x: auto;

}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }

    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}

#back-to-bootsnipp {
    position: fixed;
    top: 10px;
    right: 10px;
}

.c-search > .form-control {
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    font-size: 1.3em;
    padding: 12px 12px;
    height: 44px;
    outline: none !important;
}

.c-search > .form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none;
}

.c-search > .input-group-btn .btn {
    border-radius: 0px;
    border-width: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    height: 44px;
}

.c-list {
    padding: 0px;
    min-height: 44px;
}

#prodotti {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}

ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;
}

ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.testo-grassetto{
    font-size: 18px;
    font-weight: bold;
}

.testo{
    font-size: 14px;

}