/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-apr-2016, 9.09.31
    Author     : francesco
*/
.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}
.vcenter {
    vertical-align: middle;
    float: none;
}

.clearable{
    background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 0px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

.btn{
    margin: 5px;
}
.testo{
    font-family: Comic Sans MS;
    font-size: 18px;
}
.grassetto{
    font-weight: bold;
}
#imgProfilo{
    width:50%;
}
#base{
    padding-top: 15px;
    margin-top: 10px;
}

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}
button{
    padding: 15px;
}
contSTAFF{

    overflow-y: scroll;
}
formI{
    height: 200px;
    overflow-y: scroll;
}